<div class="card bg-base-100 w-96 shadow-sm animate-fade-in-scale">
  <figure>
    <img
      src="http://localhost:3000/api/files/product/1741416-00-A_0_2000.jpg"
      [alt]="product().title"
      />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-Montserrat text-accent text-xl">{{product().title}}</h2>
    <p>{{product().description | slice: 0:70 }}...</p>
    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/product', product().slug]">
        Ver más
      </a>
    </div>
  </div>
</div>
