/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}
@theme {
  --font-Montserrat: "Montserrat", "sans-serif";

}
@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-ThinItalic.ttf") format('truetype');
  }
}
